.git
.github
.gocache*
.gomodcache*
.npm-cache*
.docker-config*
.next
.phase*
.local
.vscode
.idea
apps/web/.e2e
apps/web/.next
apps/web/coverage
apps/web/node_modules
apps/web/playwright-report
apps/web/test-results
build
coverage
data
deploy/local
dist
node_modules
temp
tmp
*.coverprofile
*.log
*.pem
*.key
*.p12
*.pfx
.env
.env.*
!.env.example
**/peer.key
**/node_key.json
**/priv_validator_key.json
**/priv_validator_state.json
